
<% if current_user %>
  <div class="img-responsive center-block">
    
    <div class="card text-center mx-auto" style="width: 19rem;">

      <div class="card-body">
        <h3 class="card-title"><%= current_user.email %></h3>
      </div>

      <% if current_user.avatar.present? %>  
        <%= image_tag current_user.avatar, width: "200", class: "mx-auto d-block card-img-top" %>
      <% else %>
        <h1 class="text-center my-5"> No Avatar </h1>
      <% end %>

      <h3 class="card-subtitle my-3"><%= fa_icon 'money 1x' %> <%= Plan.find(current_user.plan_id).name %></h3>

    </div>

    <%= render 'projects/list' %>

    <%= render 'shared/welcome_gallery' %>

    <div class="mx-auto d-block">
      <%= render 'shared/gallery' %>
    </div>
    
  </div>
<% else %>
  <%= render 'shared/pitch' %>
<% end %>
