<% if current_user %>
  <div class="img-responsive center-block">
      
    <% if current_user.avatar.present? %>  
      <%= image_tag current_user.avatar, width: "200", class: "mx-auto d-block" %>
    <% else %>
      <h1 class="text-center my-5"> No Avatar </h1>
    <% end %>

    <h3 class="text-center mt-2 my-5"><%= fa_icon 'user 1x' %> <%= current_user.email %></h3>

    <%= render 'shared/welcome_gallery' %>

    <div class="mx-auto d-block">
      <%= render 'shared/gallery' %>
    </div>
    
  </div>
<% else %>
  <%= render 'shared/pitch' %>
<% end %>
