
<div class="container col-2 mt-4">
  <%= form_with(model: [@org_active, project]) do |form| %>
    <% if project.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(project.errors.count, "error") %> prohibited this image from being saved:</h2>

        <ul>
          <% project.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <form>
      <div class="form-group">

        <%= form.label :name, style: "display: block", class: "flabel" %>
        <%= form.text_field :name %>

        <div class="form-row">
          <div class="form-group col-md-6 mt-3">
            <%= form.label :image %>
            <%= form.file_field :image, value: "Select Image", class: 'form-control btn btn-primary col-12' %>
          </div>
        </div>

        <%= form.label :details, style: "display: block", class: "flabel" %>
        <%= form.text_field :details %>

        <%= form.label :expected_completion_date, style: "display: block", class: "flabel" %>
        <%= form.date_field :expected_completion_date %>

        <%= form.text_field :user_id, value: current_user.id %>

        <%= form.hidden_field :organization_id, value: @org_active.id %>

      </div>

      <button type="submit" class="btn btn-primary mt-5 col-12">Save Project </button>
    </form>

  <% end %>

</div>

