

<div id="<%= dom_id project %>">
  <div class="card text-center" style="width: 19rem;">
    <div class="card-body">
      
      <div class="img-responsive center-block">      
        <% if project.image.present? %>  
          <% # debugger %>
          <%= image_tag project.image, width: "200", class: "card-img-top" %>
        <% else %>
          <h2 class="text-center my-5 text-secondary"> No Image </h2>
        <% end %>
      </div>

      <h5 class="card-title"><%= project.name %></h5>
      <h6 class="card-subtitle"><%= organization_name project.organization_id %></h6>


      <p class="card-text mt-2"><%= project.details %></p>
      <p class="card-text mt-2"><%= project.expected_completion_date %></p>
    </div>
  </div>
</div>

