

<div id="<%= dom_id project %>">
  <div class="card card-header text-center" style="width: 19rem;">
    <div class="card-body">
      <h5 class="card-title mt-2 fs-2"><%= project.name %></h5>
      <h5 class="card-title mt-2 fs-2"><%= project.details %></h5>
      <h5 class="card-title mt-2 fs-2"><%= project.expected_completion_date %></h5>
      <h5 class="card-title mt-2 fs-2"><%= project.organization_id %></h5>
    </div>
  </div>
</div>

