
<div class="container col-2 mt-4">
  <%= form_with(model: organization) do |form| %>
    <% if organization.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(organization.errors.count, "error") %> prohibited this image from being saved:</h2>

        <ul>
          <% organization.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <form>
      <div class="form-group">

        <%= form.label :name, style: "display: block", class: "flabel" %>
        <%= form.text_field :name %>

        <%= form.label :domain, style: "display: block", class: "flabel" %>
        <%= form.text_field :domain %>

        <%= form.label :subdomain, style: "display: block", class: "flabel" %>
        <%= form.text_field :subdomain %>

        <div class="form-row">
          <div class="form-group col-md-6 mt-3">
            <%= form.label :logo %>
            <%= form.file_field :logo, value: "Select Logo Images", class: 'form-control btn btn-primary' %>
          </div>
        </div>

        <div class="mt-4">

          <%= form.radio_button :active_org, true %>
          <%= form.label :active_org, "Active" %>

          <%= form.radio_button :active_org, false %>
          <%= form.label :active_org, "Inactive" %>


        </div>
      </div>

      <button type="submit" class="btn btn-primary mt-5">Save organization </button>
    </form>

  <% end %>

  <div class="center me-0 mb-5 mt-5">    
    <div class="d-flex flex-row">

      <%= link_to organization do %>
        <%= fa_icon "eye 2x", class: "mt-1 mx-2" %>
      <% end %>

      <%= link_to organizations_path do %>
        <%= fa_icon "list 2x", class: "mt-1 mx-2" %>
      <% end %>

      <%= link_to organization, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
        <%= fa_icon "trash 2x", class: "mt-1 mx-2" %>
      <% end %>

    </div>
  </div>
</div>

