<% content_for :title, "Editing organization" %>

<h1 class="text-center mt-4 mb-0 text-white">Editing organization</h2>

<%= render "form", organization: @organization %>

<div class="d-flex flex-row justify-content-center mt-4">

  <%= link_to new_organization_path do %>
    <%= fa_icon "plus-circle 2x", class: "mt-1 mx-2" %>
  <% end %>

  <%= link_to organizations_path do %>
    <%= fa_icon "list 2x", class: "mt-1 mx-2" %>
  <% end %>

</div>
