<div id="<%= dom_id plan %>">
  <div class="card card-header text-center" style="width: 19rem;">
    <div class="card-body">
      <%= fa_icon "money 5x", class: "mt-1 mx-2" %>

      <div class="img-responsive center-block">      
        <% if plan.symbol.present? %>  
          <% # debugger %>
          <%= image_tag plan.symbol, width: "200", class: "mx-auto d-block" %>
        <% else %>
          <h2 class="text-center my-5 text-secondary"> No Symbol </h2>
        <% end %>
      </div>

      <h5 class="card-title mt-2 fs-2"><%= plan.name %></h5>
      <h5 class="card-title mt-2 fs-2"><%= plan.amount %></h5>
    </div>
  </div>
</div>

